body{
    margin: 0;
    background-image: url("../images/ByfrostWebsiteBackground.jpg");
    background-color: darkgrey;
    overflow: auto;
}
header{
    font-size: medium;
    background-color: cyan;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    text-align: center;
    background-color: cyan;
}
nav{
    background-color: #333;
    text-align: center;
    padding: 5px;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
a{
    border: cyan;
    padding: 10%;
    text-decoration: none;
    color: cyan;
    font-size: large;
}
h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: underline;
    margin: 0;
}
h2{
    text-align: center;
    margin: 0;
}
h3{
    text-align: center;
    margin: 0;
}
p{
    text-align: center;
    margin: 0;
}
.g{
    margin-left: 50%;
}
.m{
    padding-left: 16px;
    padding-top: 16px;
    float: left;
}
