body{
    margin: 0;
    background-image: url("../images/ByfrostWebsiteBackground.jpg");
    background-color: darkgrey;
    overflow: auto;
}
header{
    font-size: medium;
    background-color: cyan;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    clear: both;
    text-align: center;
    background-color: cyan;
}
nav{
    background-color: #333;
    text-align: center;
    padding: 5px;
}
.fleft{
    float: left;
}
a{
    border: cyan;
    padding: 5%;
    text-decoration: none;
    color: cyan;
    font-size: large;
}
h1{
    margin: 0;
    margin-left: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
h2{
    text-align: center;
    margin: 0;
}
h3{
    text-align: center;
    margin: 0;
}
p{
    text-align: center;
    margin: 0;
}
.g{
    margin-left: 50%;
}
.m{
    padding-left: 16px;
    padding-top: 16px;
    float: left;
}
table{
    margin-left: 5%;
    margin-top: 1%;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: #333;
    color: cyan;
    text-align: center;
}
th, td{
    border-style: solid;
    border-color: black;
}
img{
    padding:0%;
}
